
{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'layout.html.twig' %}

{% block left_body %}
    <div class='container-fluid'>
        <div class='well'>
            <h1>Page non trouvée</h1>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ user.username }}
            {% endif %}

            <h1>Oops! Une erreur est survenue</h1>
            <h2>Le serveur à retourné une erreur "{{ status_code }} {{ status_text }}".</h2>

            <div>
                <p>Si vous avez le courage de nous écrire pour nous expliquer à quel moment vous avez rencontré cette erreur nous vous en serons reconnaissant de nous adresser un mail à
                    admin@franckruer.fr</p>
                <p>Veuillez nous excuser pour la gêne occasionnée</p>
            </div>
            <p>
                La page demandée ne peut être trouvée. </p>
            <p>Vérifiez que l'url soit correcte ou <a href="{{ path('knarf_platform_home') }}">retournez à l'accueil</a>.
            </p>
        </div>
    </div>
{% endblock %}