{% extends 'layout.html.twig' %}

{% block body %}
    
        <h1>Oops! Une erreur est survenue</h1>
        <h2>Le serveur à retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
 
        <div>
            <p>Si vous avez le courage de nous écrire pour nous expliquer à quel moment vous avez rencontré cette erreur,
                nous vous en serons reconnaissant de nous adresser un mail à
            contact@norminfo.eu</p>
            <p>Veuillez nous excuser pour la gêne occasionnée</p>
        </div>
    <a href="{{ path('knarf_platform_home') }}">Retour à l'accueil</a>
    
{% endblock %}    
