{# src/Knarf/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
  Modifier un commentaire - {{ parent() }}
{% endblock %}

{% block knarfplatform_body %}
    {{ parent() }}
    
  <h2>Modifier votre commentaire</h2>

  {{ include("KnarfPlatformBundle:Commentaire:form.html.twig") }}


  <p>
    <a href="{{ path('commentaire_view', {'id': commentaire.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au commentaire
    </a>
  </p>

{% endblock %}
