{# src/Knarf/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
  Modifier une annonce - {{ parent() }}
{% endblock %}

{% block knarfplatform_body %}

  <h2>Modifier une annonce</h2>

  {{ include("KnarfPlatformBundle:Commentaire:form.html.twig") }}

  <p>
    Vous éditez une annonce déjà existante, merci de ne pas changer
    l'esprit général de l'annonce déjà publiée.
  </p>

  <p>
    <a href="{{ path('knarf_commentaire_view', {'id': commentaire.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au commentaire
    </a>
  </p>

{% endblock %}
