{# src/Knarf/PlatformBundle/Resources/views/Commentaire/form.html.twig #}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form) }}
	{{ form_widget(form) }}
	<div class="form-group row">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary" data-label="Enregistrer">
				Enregistrer
			</button>
		</div>
	</div>
{{ form_end(form) }}