/.web-server-pid
/app/config/parameters.yml
/bin/*
/web/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/web/prod.log
/nbproject/
/tests/
/web/info.php
/web/media/cache/
/composer.phar
/components/require-built.js
/components/require.js
/components/require.config.js
/components/require.css
/.settings/
/node_modules/
/.project
/.buildpath
!bin/console
!bin/symfony_requirements
