{# src/Knarf/PlatformBundle/Resources/views/Rubrique/edit.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}

{% block title %}
  Modifier une rubrique - {{ parent() }}
{% endblock %}

{% block knarfplatform_body %}
    {{ parent() }}

  <h2>Modifier une rubrique</h2>

  {{ include("KnarfPlatformBundle:Rubrique:edit_form.html.twig") }}

  <p>
    Vous éditez une rubrique déjà existante...
  </p>

  <p>
    <a href="{{ path('rubrique_view', {'slug': rubrique.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la rubrique
    </a>
  </p>

{% endblock %}
