{# src/Knarf/PlatformBundle/Resources/views/Rubrique/index.html.twig #}


{% extends "KnarfPlatformBundle::layout.html.twig" %}


{% block title %}

  Accueil - {{ parent() }}

{% endblock %}


{% block knarfplatform_body %}


  <h2>Liste des rubriques</h2>


  <ul>

    {% for rubrique in listRubriques %}        

      <li>

        <a href="{{ path('rubrique_view', {'slug': rubrique.slug}) }}">

          {{ rubrique.intitule }}

        </a>


      </li>


    {% endfor %}

  </ul>
    
    {% if is_granted('ROLE_ADMIN') %}
        
        <a class="btn btn-primary btn-lg" href="{{ path('rubrique_ajout') }}">
          Ajouter une rubrique »
        </a>

    {% endif %}


{% endblock %}



