{# src/Knarf/PlatformBundle/Resources/views/Rubrique/menu.html.twig #}


{# Ce template n'hérite de personne  #}


<ul class="nav nav-pills nav-stacked">

    {% for rubrique in listRubriques %}

        {#  affichage des rubriques par défaut  #}
        {% if rubrique.isAdmin == 0 %}
            <li>

                <a href="{{ path('rubrique_ext', {'slug': rubrique.slug}) }}">

                    {{ rubrique.intitule }}

                </a>

            </li>
        {#  affichage des rubriques pour le role ADMIN  #}
        {% elseif is_granted('ROLE_ADMIN') %}    
            <li id="rubrique-admin">

                <a href="{{ path('rubrique_ext', {'slug': rubrique.slug}) }}">

                    {{ rubrique.intitule }}

                </a>

            </li>
        {% endif %}
    {% endfor %}

</ul>
