{# src/Knarf/PlatformBundle/Resources/views/Rubrique/menu.html.twig #}


{# Ce template n'hérite de personne  #}


<ul class="nav nav-pills nav-stacked">

  {% for rubrique in listRubriques %}      

    <li>

      <a href="{{ path('rubrique_ext', {'slug': rubrique.slug}) }}">

        {{ rubrique.intitule }}

      </a>

    </li>

  {% endfor %}

</ul>
