{# src/Knarf/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "KnarfPlatformBundle::layout.html.twig" %}


{% block title %}
  Ajouter une annonce
{% endblock %}

{% block knarfplatform_body %}
    
    {{ parent() }}
    
  {{ include("KnarfPlatformBundle:Advert:form.html.twig") }}


  <p>

    Attention : cette annonce sera ajoutée directement sur la page d'accueil après validation du formulaire.
    
    Si vous ne voulez pas la publier maintenant: décochez la case "published".
    
    Vous pouvez retrouver cette annonce depuis votre profil

  </p>


{% endblock %}

{% block javascripts %}
    
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/fosckeditor/ckeditor-responsive-images.js') }}"></script>
{% endblock %}    
