{# src/Knarf/UserBundle/Resources/views/Security/members.html.twig #}
<div class="container-fluid">
    <div class="well">
    
    <h3 align="center">Articles récents </h3>
    <ul class="nav nav-pills nav-stacked" id="drnarticles">
    {% for advert in listAdverts %}     
        <li>
            <a href="{{ path('knarf_platform_view', {'slug': advert.slug}) }}">
          <div class="media" id="derniers-articles">
            
            <div class="media-left">
                
                {% if advert.media is not empty %}
                    
                    <img class="media-object" src="{{vich_uploader_asset(advert.media, 'mediaFile') | imagine_filter('my_thumb')}}" alt="mythumb"  />

                {% endif %}
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ advert.title }}
                </h4>
                <div id="date-article">
                {{ advert.date|date('d/M/Y') }}
                </div>
            </div> 
        </div>
            </a>
        </li>

  {% endfor %}
    </ul>
  </div>
</div>


