{# src/Knarf/PlatformBundle/Resources/views/Clock/view.html.twig #}


    
    <div class="demo-container clocks active bounce">    
      <article class="clock simple js-paris">
        <section class="label">Paris</section>
        <section class="hours-container">
          <section class="hours"></section>
        </section>
        <section class="minutes-container">
          <section class="minutes"></section>
        </section>
        <section class="seconds-container">
          <section class="seconds"></section>
        </section>
      </article>
      <article class="clock simple js-la">
        <section class="label">San Francisco</section>
        <section class="hours-container">
          <section class="hours"></section>
        </section>
        <section class="minutes-container">
          <section class="minutes"></section>
        </section>
        <section class="seconds-container">
          <section class="seconds"></section>
        </section>
      </article>
      <article class="clock simple js-tokyo">
        <section class="label">Tokyo</section>
        <section class="hours-container">
          <section class="hours"></section>
        </section>
        <section class="minutes-container">
          <section class="minutes"></section>
        </section>
        <section class="seconds-container">
          <section class="seconds"></section>
        </section>
      </article>                
     </div>

