{# src/Knarf/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    
  {{ parent() }}
  
{% endblock %}

{% block left_body %}
 

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block knarfplatform_body %}      
      
      <div class="container-fluid">
  {% endblock %}  
       </div>  
{% endblock %}

