{# src/Knarf/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    
  {{ parent() }}
  
{% endblock %}

{% block left_body %}  
 

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block knarfplatform_body %}      
      
      <div class="container-fluid">
  {% endblock %}  
       </div>
  {#{{ include('KnarfPlatformBundle:Clock:view.html.twig') }}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}

