{# src/Knarf/PlatformBundle/Resources/views/Weather/view.html.twig #}
<div class="container-fluid">
    <div class="well">
        <div id="temp">

        </div>
        <br>
        <div id="minutely">

        </div>
        <br>
        <span id="icon">
        </span>
        <br>
        <div id="location">
        </div>
        <br>
        <div id="coordonnees">

        </div>
    </div>
</div>