{# src/Knarf/PlatformBundle/Resources/views/Weather/view.html.twig #}
<div class="container-fluid">
<div class="well">
<div id="temp">
    
</div>
<div id="minutely">
    
</div>

<div id="location">
    
</div>
</div>
</div>