{# src/Knarf/PlatformBundle/Resources/views/Weather/view.html.twig #}
<div class="container-fluid">
    <div class="well" id="weather_widget">
        <div id="process">
        </div>
        <br>
        <div id="temp">

        </div>
        <br>
        <div id="currently">

        </div>
        <br>
        <div id="minutely">
            
        </div>
        <br>
        <div id="location">
            
        </div>
        <br>

    </div>
</div>