{# src/Knarf/PlatformBundle/Resources/views/Weather/view.html.twig #}
<div class="container-fluid">
	<button id="weather-button" class="btn btn-primary" onclick="weather()">Afficher la météo</button>
	
    <div id="weather-widget">
        <div id="weather-image">
        <img class="img-responsive" src="{{ asset('/images/weather.png') }}" alt="Meteo" >
           <div id="location">
            
            </div>
        </div>

        <br>
        <div id="weather-content">
        <div id="process">
        </div>
        <br>
        <div id="temp">

        </div>
        <br>
        <div id="currently">

        </div>
        <br>
        <div id="minutely">
            
        </div>
        <br>

        </div>
    </div>
</div>