

#msg {
  background: rgb(113,223,113);
  color: rgb(38,88,38);
  padding: 0.813em 0;
  margin: auto;
  border-radius : 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
  position: relative;
}


#back-to-top {
    display:block;
    position:fixed;
    bottom:0;
    right:0;
    width:3.1em;
    height:3.1em;
    overflow:hidden;
    color:transparent;
    border-bottom:medium none;
    z-index:1;
}



/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


#toggle-clocks {
	display: none;
}

#toggle-clocks.is-visible {
	display: flex;
}

label.required:after {
    content: " *";
}

#rubrique-admin {
    background-color: #3cd19e;
    
}

