{# src/Knarf/UserBundle/Resources/views/Security/admin.html.twig #}

<div class='well'>
    <h3>Articles administrateur</h3>
    {{ render(controller('KnarfPlatformBundle:Advert:indexAsAdmin')) }}
</div>
<div class="well">    
    <h3>Liste des utilisateurs </h3>   

    {{ render(controller("KnarfUserBundle:Security:admin")) }}
</div>

<div class="well">        
    <h3>Liste des rubriques</h3>
    <ul>
        {{ render(controller("KnarfPlatformBundle:Rubrique:menu")) }}
    </ul>
    <p>
        <a href="{{ path('rubrique_ext_index') }}"><h3>Gérer les rubriques</h3></a>
</div>

