{# src/Knarf/UserBundle/Resources/views/Security/admin.html.twig #}

{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ app.user.username }}
{% endblock %}

{% block knarfuser_body %}
    
    {{ parent() }}


        <h1>Bienvenue {{ name }}</h1>

  
    
    {% endblock %}    