{% block subject %}
    Activez votre compte
{% endblock %}

{% block body %}
Bonjour {{ username }}.
<p>
    Vous avez créé un compte sur la plateforme <a href="https://blog.franckruer.fr">KNARF MEDIA</a>.
<p>
Veuillez cliquer sur le lien suivant pour activer votre compte:
<p>
    <a href ="{{ request_link }}"><button>Activer mon compte</button></a>
<p>
    Si vous n'êtes pas à l'origine de cette action, veuillez ne pas tenir compte de ce message.
<p>    
    À bientôt sur <a href="https://blog.franckruer.fr">KNARF MEDIA</a>.
<p>
Franck, administrateur
<p>
{% endblock %}