{% block subject %}Password Request{% endblock %}

{% block body %}
Bonjour {{ username }},

Vous avez demandé un nouveau mot de passe.
Cliquez sur le lien 
<a href="{{ request_link }}">
    <button>Modifier mon mot de passe</button>
</a> pour réinitialiser votre mot de passe.

Cordialement,

{% endblock %}
