{# src/Knarf/UserBundle/Resources/views/Security/reset_password.html.twig #}


{% extends 'KnarfUserBundle::layout.html.twig' %}

{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{% block title %}
    
    {{ parent() }} - {{ 'Reset password' }}
{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>{{ 'user.reset_password.title' | trans }}</h1>
    </div>
    {{ form(form) }}
{% endblock %}